*html{
    font-size: 20px;
}

.body{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
*{
    margin: 0;
    padding: 0;

}
#board{
    background:linear-gradient(rgb(170, 204, 170),yellow);
    width: 90vmin;
    height:92vmin ;
    border: 2px solid black;
    display: grid;
    grid-template-rows:repeat(18,1fr);
    grid-template-columns:repeat(18,1fr) ;
}

.head{
    background-color: red;
}
.food{
    background-color: green ; 
}
.snake{
    background-color: purple;;
}